;[review "https://android.intel.com"]
;	username = zhebinj
[user]
	name = zhebin.jzb
	email = zhebin.jzb@alibaba-inc.com
[color]
	ui = auto
;[review "android.intel.com:8080"]
;	username = zhebinj

;[url "ssh://zhebinj@android-mirror-sh.devtools.intel.com:29418/"]
;insteadOf=git://android.intel.com/
;insteadOf=ssh://android.intel.com/
;insteadOf=ssh://android.intel.com:29418/
;insteadOf=git://android-mirror-sh.devtools.intel.com/
;insteadOf=ssh://android-mirror-sh.devtools.intel.com/
;insteadOf=git://android-mirror.devtools.intel.com/
;insteadOf=ssh://android-mirror.devtools.intel.com/
;insteadOf=ssh://android-mirror.devtools.intel.com:29418/
;insteadOf=git://jfumg-gcrmirror.jf.intel.com/
;insteadOf=ssh://jfumg-gcrmirror.jf.intel.com/
;insteadOf=ssh://jfumg-gcrmirror.jf.intel.com:29418/
;insteadOf=ssh://gerrit-sh1.sh.intel.com/
;insteadOf=ssh://gerrit-sh1.sh.intel.com:29418/



;[url "ssh://zhebinj@android.intel.com:29418/"]
;pushInsteadOf=ssh://android.intel.com/
;pushInsteadOf=ssh://android.intel.com:29418/
;pushInsteadOf=ssh://jfumg-gcrmirror.jf.intel.com/
;pushInsteadOf=ssh://jfumg-gcrmirror.jf.intel.com:29418/
;pushInsteadOf=ssh://android-mirror.devtools.intel.com/
;pushInsteadOf=ssh://android-mirror.devtools.intel.com:29418/
;pushInsteadOf=ssh://android-mirror-sh.devtools.intel.com/
;pushInsteadOf=ssh://android-mirror-sh.devtools.intel.com:29418/



;pushInsteadOf=ssh://gerrit-sh1.sh.intel.com/
;pushInsteadOf=ssh://gerrit-sh1.sh.intel.com:29418/

;[url "ssh://mcg-psi-gcrmirror2.sh.intel.com"]
	;insteadOf = "git://jfumg-gcrmirror.jf.intel.com"
;[url "ssh://mcg-psi-gcrmirror2.sh.intel.com"]
	;insteadOf = "ssh://jfumg-gcrmirror.jf.intel.com"
;[url "ssh://mcg-psi-gcrmirror2.sh.intel.com"]
	;insteadOf = "ssh://android.intel.com"
;[url "ssh://mcg-psi-gcrmirror2.sh.intel.com"]
	;insteadOf = "git://android.intel.com"
;[url "ssh://mcg-psi-gcrmirror2.sh.intel.com"]
	;insteadOf = "ssh://jfumgrepo1.jf.intel.com"
;[url "ssh://mcg-psi-gcrmirror2.sh.intel.com"]
	;insteadOf = "git://jfumgrepo1.jf.intel.com"
;[url "ssh://android.intel.com:29418/"]
	;pushInsteadOf=ssh://android.intel.com/
	;pushInsteadOf=ssh://android.intel.com:29418/
	;pushInsteadOf=ssh://jfumg-gcrmirror.jf.intel.com/
	;pushInsteadOf=ssh://jfumg-gcrmirror.jf.intel.com:29418/

;[url "ssh://zhebinjx@mcg-psi-gcr-glb.sh.intel.com:29418/"]
	;insteadOf=ssh://jfumg-gcrmirror.jf.intel.com/
	;insteadOf=git://jfumg-gcrmirror.jf.intel.com/
	;insteadOf=git://android.intel.com/
	;insteadOf=ssh://mcg-devgcr-sc1.jf.intel.com/
	;insteadOf=git://mcg-devgcr-sc1.jf.intel.com/
	;insteadOf=ssh://android.intel.com:29418/
	;insteadOf=ssh://android.intel.com/
;[url "ssh://android.intel.com:29418/"]
	;pushInsteadOf=ssh://android.intel.com/
	;pushInsteadOf=ssh://android.intel.com:29418/
	;pushInsteadOf=ssh://jfumg-gcrmirror.jf.intel.com/
	;pushInsteadOf=ssh://jfumg-gcrmirror.jf.intel.com:29418/
;[url "ssh://shlabacsbb06.sh.intel.com/"]
	;insteadOf=ssh://jfumg-gcrmirror.jf.intel.com/
;[url "ssh://shlabacsbb06.sh.intel.com/"]
	;insteadOf=git://jfumg-gcrmirror.jf.intel.com/
[core]
	editor = vim
;[alias]
	;lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[credential]
	helper = cache --timeout=36000
;[http]
;	cookiefile = /home/jzb/.gitcookies
;	; WA for Google partner repo
;	;sslVerify = false
;[https]
;	cookiefile = /home/jzb/.gitcookies
[diff]
	wsErrorHighlight = all
[color "diff"]
	whitespace = red reverse
[commit]
	template = ~/.gitmessage
